.popup__close-button {
  background-image: url(../../../images/Close-Icon.svg);
  
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 32px;
  height: 32px;
  object-fit: cover;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
  transition: opacity ease-in-out;
}

.popup__close-button:hover{
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 512px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
