.popup__submit-button {
  width: 358px;
  min-height: 50px;
  margin: 18px 0 37px;
  background-color: black;
  color: white;
  font-size: 18px;
  line-height: 1.22;
  transition: opacity ease-in-out;
  cursor: pointer;
  border: none;
  border-radius: 2px;
}

.popup__submit-button:hover {
  opacity: 0.8;
}

.popup__submit-button:disabled {
  opacity: 0.2;
  color: black;
  background-color: transparent;
  border: 1px solid #000000;
}

@media screen and (max-width: 512px) {
  .popup__submit-button {
    width: 238px;
    min-height: 46px;
    margin: 15px 0 25px;
    font-size: 14px;
    line-height: 1.21;
  }
}
